@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-VariableFont.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-Italic-VariableFont.ttf');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}