html {
  &.is-lock {
    overflow: hidden;
  }
}

:root {
  --color-gold-crest: #DF9E37;

  --transition-duration: 0.2s;

  --container-width: #{fluid-to-laptop(1600, 1280)};
  --container-padding-x: 32px;
}

#root {
  min-width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: #46484F;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  //margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-grey);
}

h1, .h1 {
  font-size: fluid(58, 28);
  font-weight: 700;
}
h2, .h2 {
  font-size: fluid(48, 24);
  font-weight: 700;
}
h3, .h3 {
  font-size: fluid(38, 20);
  font-weight: 700;
}
h4, .h4 {
  font-size: fluid(24, 18);
  font-weight: 600;
}
h5, .h5 {
  font-size: fluid(22, 18);
  font-weight: 500;
}
h6, .h6 {
  font-size: fluid(20, 16);
  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}


