:root {
    --color-white: #FFFFFF;
    --color-grey: #46484F;
    --color-purple: #686ACF;
    --color-gold-crest: #DF9E37;

    --font-family-base: 'Jost';

    --transition-duration: 0.2s;

    --container-width: #{fluid-to-laptop(1600, 1280)};
    --container-padding-x: 32px;
}