@use '../../styles/functions' as *;

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fluid(44, 32);
  height: fluid(44, 32);

  &--lg {
    width: fluid(64, 44);
    height: fluid(64, 44);
  }

  &--sm {
    width: fluid(28, 22);
    height: fluid(28, 22);
  }
}

.icon__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}